---
import { getCollection } from 'astro:content';
const posts = await getCollection('news');
---
<h1>ニュース</h1>
<ul>
  {posts.map((p) => (
    <li><a href="/news/{p.slug}/">{p.data.title}</a></li>
  ))}
</ul>
