<nav>
  <a href="/">Home</a>
  <a href="/interviews/">インタビュー</a>
</nav>
  <a href='/founders-insight/'>起業家分析</a>
  <a href='/trends/'>トレンド</a>
  <a href='/failures/'>失敗談</a>
  <a href='/vc-interviews/'>VC インタビュー</a>
  <a href='/glossary/'>用語集</a>
  <a href='/news/'>ニュース</a>
